source:
  user: username
  dbname: database_name
target:
  url: 'http://localhost:7474/db/data'
mappings:
  - fromitem: actors
    toitem: movies
    intermediateitem: roles
    relationname: acts_in
